{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>SweetHome</h1>
        <p>Nous avons le plaisir de vous présenter notre nouvelle agence de location immobilière</p>
        <p></p>
    </div>

{% endblock %}
